a {
    color: #3c88d4;
}

#audio-player {
    display: none !important; /* Always hidden */
}

.back-btn {
    background-color: #b22222; /* Dark red color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    margin: 20px auto; /* Ensure margin around the button */
    margin-top: 0 !important;
    display: block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 600px; /* Set a max width to prevent it from being too wide on large screens */
}

.back-btn i {
    margin-right: 8px; /* Adds space between the icon and text */
}


body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    height: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

/* Disable hover effects for disabled buttons */
button:disabled:hover {
    cursor: not-allowed; /* Keep the not-allowed cursor */
}

button:disabled i {
    color: #ccc;
    cursor: not-allowed;
}

.cefr-filter {
    display: inline-flex;
    align-items: center;
    background-color: #0d3a69;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    position: relative;
    box-sizing: border-box;
}

.cefr-filter select {
    appearance: none;
    background-color: inherit;
    border: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
}

.cefr-filter i {
    color: white;
    font-size: 18px;
    pointer-events: none;
    right: 15px;
}

.clear-btn {
    align-items: center;
    background-color: white;
    border: none;
    color: #999;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    padding: 0 15px;
}

.clear-btn i {
    color: #999;
    font-size: 18px;
}

.coffee-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent; /* No visible border but ensures alignment */
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.coffee-img {
    max-height: 30px; /* Adjust the height of the image to align with the LinkedIn button */
    width: auto;
}

.default-hidden-content {
    display: none;
}

/* Common styling for both definition cards and error messages */
.definition, .error-message {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 25px;
}

.definition-content {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.definition-content i {
    margin-right: 8px;
    color: #951b1b; /* Dark red color */
    font-size: 18px; /* Slightly larger than the text */
    width: 24px; /* Fixed width for uniformity */
    text-align: center; /* Centers the icons within their block */
    display: inline-block; /* Ensures icons behave like a fixed block */
    vertical-align: middle; /* Ensures the icon is vertically aligned with the text */
}

.definition-content p {
    color: #951b1b; /* Ensure text is also dark red */
    display: flex;
    align-items: center;
    gap: 5px;
}

.definition-label {
    color: #951b1b;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .04rem;
    text-transform: uppercase;
}

.definition p {
    color: #333;
    font-size: 20px;
    line-height: 1.6;
    margin: 10px 0 10px 0;
}

.english,
.etymology,
.pronunciation {
    color: #555 !important;
    font-size: 16px !important;
    font-weight: 500;
}

/* Specific styling for the error message */
.error-message h2 {
    color: #951b1b; /* Error title in a distinct color */
    font-size: 24px;
}

.error-message .gender {
    color: #951b1b; /* Error type in a similar error color */
    font-size: 16px;
    font-weight: 600;
}

.error-message p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}

.example {
    font-size: 16px !important;
}

footer {
    background-color: #d2dce5;
    bottom: 0;
    color: #0d3a69;
    font-family: 'Noto Sans', sans-serif;
    padding: 20px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

footer p {
    font-size: 14px;
    margin: 5px 0;
}

footer p a {
    color: #3c88d4;
    font-weight: bold;
    text-decoration: none;
}

footer p a:hover {
    color: #0d3a69;
    text-decoration: underline;
}

footer .copyright {
    color: #555;
    font-size: 12px;
}

.game-cefr-label {
    align-self: flex-start;               /* Align the label to the left */
    padding: 3px 7px;                     /* Smaller padding */
    font-size: 12px;                      /* Smaller font size */
    color: #4F4F4F;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    white-space: nowrap;                  /* Prevent text wrapping */
    margin-bottom: 5px;                  /* Space between the label and the word */
    user-select: none;  /* Prevent text selection */
}

.game-cefr-label.easy {
    background-color: #C7E3B6;  /* Green for 'A1, A2' */
}

.game-cefr-label.medium {
    background-color: #F2D96B;  /* Yellow for 'B1, B2' */
}

.game-cefr-label.hard {
    background-color: #E9A895;  /* Red for 'C' */
}

.game-cefr-spacer {
    min-height: 30px;
    text-align: center;
    flex-shrink: 0;                      /* Prevent the spacer from shrinking */
}
 
/* Example Sentences */
.game-cefr-spacer p {
    color: #413e3e;
    font-family: 'Noto Serif', serif;
    font-size: 0.9em !important;
    padding: 0 10px 0 10px;
    text-align: center;
    margin: 0;
    line-height: 1.5;
}

#game-congratulations-banner, #game-fallback-banner {
    background-color: #FAE5C3; 
    color: #5C4033; /* Gray color, matching the scorecard */
    text-align: center;
    padding: 2.5px 5px; /* Smaller padding for a more compact banner */
    border-radius: 10px;
    font-size: 0.9em; /* Smaller font size to fit the text on one line */
    font-weight: normal; /* Adjusted to normal to avoid boldness */
    font-family: "Noto Sans", sans-serif; /* Using Noto Sans, sans-serif */
    margin: 15px 0 15px 0; /* Reduced spacing between banner and the rest */
    line-height: 1.2; /* Reduced line height for more compact text */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
    font-weight: 500;
    user-select: none;
}

#game-congratulations-banner.hidden, #game-fallback-banner.hidden {
    display: none; /* Initially hidden */
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px; /* Slightly increase space between the cards */
}

.game-correct-card {
    background-color: #C7E3B6 !important; /* Lighter olive green for correct */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; /* Consistent height with the other cards */
}

.game-incorrect-card {
    background-color: #E9A895 !important; /* Lighter clay red for incorrect */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px; /* Consistent height with the other cards */
}

.game-labels-container {
    display: flex;
    justify-content: space-between;  /* Align labels on opposite sides */
    width: 100%;
}

#game-next-word-button {
    display: none;
    margin-top: 15px;
    width: 100%;
    background-color: #f8d9b0;  /* Subtle, lighter background */
    color: #8a7063;  /* Subtle maroon text */
    border: 1px solid #b8a58b;  /* Slightly darker border for depth */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* More prominent shadow */
    border-radius: 6px;  /* Slightly rounded corners */
    padding: 20px 15px;  
    font-family: 'Noto Sans', sans-serif;  /* Clean, modern font */
    font-size: 18px;  /* Smaller font size for subtlety */
    font-weight: 500;  /* Normal font weight for less boldness */
    text-transform: uppercase;  /* Uppercase for consistency */
    letter-spacing: 0.04em;  /* Slight letter spacing */
    cursor: pointer;  /* Pointer on hover */
    user-select: none;  /* Prevent text selection */
    transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.2s ease;  /* Subtle transitions */
}

#game-next-word-button:active {
    background-color: #f2c18c;  /* Darker background on click */
    border-color: #8a7063;  /* Border matches text color on click */
    transform: scale(0.98);  /* Slight shrink effect for click feedback */
}

.game-tricky-word {
    align-self: flex-start;               /* Align to the top */
    padding: 3px 7px;                     /* Same padding as CEFR label */
    font-size: 12px;                      /* Same font size as CEFR label */
    color: #4F4F4F;
    font-weight: bold;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    white-space: nowrap;                  /* Prevent text wrapping */
    background-color: #FAE5C3;   
    margin-bottom: 5px;                   /* Space between label and word */
}

/* Stats Card Styling */
.game-stats-content {
    display: flex;
    width: 100%;  /* Ensure the content takes up full width */
    gap: 10px;    /* Adjust the space between boxes */
    margin: 0px 0px 7.5px 0px; /* Center horizontally */
}

/* Correct box styling */
.game-stats-correct-box {
    background-color: #C7E3B6; /* Lighter olive green */
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    color: white;
    min-width: 60px;  /* Ensure minimum size */
}

/* Incorrect box styling */
.game-stats-incorrect-box {
    background-color: #E9A895; /* Lighter clay red */
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    color: white;
    min-width: 60px;  /* Ensure minimum size */
}

/* Text styling for the numbers */
.game-stats-correct-box p {
    color: #6B9461 !important;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px; /* Bigger font for numbers */
    font-weight: 500;
    margin: 0;
    user-select: none;  /* Prevent text selection */
}

.game-stats-incorrect-box p {
    color: #B5634D !important;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px; /* Bigger font for numbers */
    font-weight: 500;
    margin: 0;
    user-select: none;  /* Prevent text selection */
}

.game-translation-card {
    background-color: white; /* Same as the word card */
    border: 1px solid #ccc;     /* Same border */
    border-radius: 10px;        /* Same rounded corners */
    padding: 15px; /* Reduced padding to make the cards less bulky */
    text-align: center;         /* Centered text */
    font-size: 1.2em !important;           /* Consistent font size */
    color: #333;                /* Same text color */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Same shadow */
    transition: background-color 0.3s ease;    /* Smooth hover effect */
    cursor: pointer;            /* Make it clickable */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Slightly reduce height */
    min-height: 60px; /* Ensure the cards remain the same height */
    line-height: 1.3em;         /* Reduce line spacing slightly */
}

.game-translation-card:hover {
    background-color: #e6f7ff; /* Hover effect same as word card */
}

.game-word {
    display: flex;
    justify-content: center;             /* Center the word horizontally */
    align-items: center;                 /* Center the word vertically */
    flex-grow: 1;                        /* Allow the word to take up remaining space */
    text-align: center;
    min-height: 50px;
}

.game-word h2 {
    margin: 0;
    font-weight: 400 !important;
    white-space: nowrap;                 /* Prevent the word from wrapping */
    overflow: hidden;
    text-overflow: ellipsis;             /* Add ellipsis for long words */
}

.game-word-card {
    display: flex;
    flex-direction: column;              /* Stack the label and word vertically */
    justify-content: center;             /* Center the content vertically */
    align-items: center;                 /* Center the content horizontally */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;                /* Reduce padding at the top, add more below */
    font-size: 1.2em;
    margin-bottom: 15px !important;
    color: #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;                  /* Allow for flexible layout */
    overflow: hidden;                   /* Prevent overflowing content from changing layout */
}

.gender {
    color: #951b1b !important;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px !important;
    font-weight: 400;
    letter-spacing: .04rem;
    text-transform: uppercase;
}

h1 {
    color: #293a78;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h2 {
    color: #3c88d4;
    font-size: 30px;
    font-weight: bold;
    margin: -5px 0 -5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

header {
    background-color: #d2dce5;
    color: #0d3a69;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: .05rem;
    padding: 20px;
    position: relative;
    text-align: center;
}

header h1 {
    font-family: 'Grenze Gotisch', serif;
    font-size: 50px;
    user-select: none;  /* Prevent text selection */
}

header p {
    font-size: 18px;
    font-weight: 600;
    margin-top: -20px;
    text-transform: uppercase;
    user-select: none;  /* Prevent text selection */
}

.hidden {
    display: none;
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

input[type="text"] {
    border: none;
    flex-grow: 1;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    outline: none;
    padding: 12px 16px;
}

input[type="text"]:focus + label,
input[type="text"]:not(:placeholder-shown) + label {
    color: #293a78;
    font-size: 12px;
    top: -10px;
}

label {
    color: #555;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Modify the landing card styling to match definition cards */
#landing-card {
    background-color: #ffffff; /* Matches the background of definition cards */
    border-radius: 12px; /* Same border radius as definition cards */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Same box shadow */
    margin: 20px auto; /* Matches the margin of definition cards */
    padding: 25px; /* Matches the padding of definition cards */
    text-align: center;
    width: 45%; /* Same width as definition cards */
}

/* Adjust the heading size and color to match the word titles in definition cards */
#landing-card h2 {
    color: #3c88d4; /* Matches the heading color of definition cards */
    font-size: 30px; /* Matches the font size of definition card headings */
    margin-bottom: 10px;
}

/* Adjust the paragraph text inside the landing card to be more similar to definition content */
#landing-card p {
    font-size: 16px; /* Matches the font size of other definition content */
    color: #555; /* Similar color to definition content */
    text-align: justify;
    margin: 0 60px 0 60px;
}


.links {
    display: flex;
    gap: 10px; /* Space between the buttons */
    margin: 10px 0 10px 0;
    align-items: center; /* Vertically align both buttons */
    justify-content: center;

}

.linkedin-btn {
    align-items: center;
    background-color: white;
    border: 1px solid #0a66c2;
    border-radius: 4px;
    color: #0a66c2;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    padding: 2px 15px;
    text-decoration: none;
    height: 30px; /* Match height to the BuyMeACoffee image */
    transition: background-color 0.2s ease, color 0.2s ease;
}

.linkedin-btn:hover {
    background-color: #f0f0f0;
    color: #0a66c2;
}

.linkedin-icon {
    height: auto;
    margin-right: 8px;
    width: 18px;
}

main {
    flex: 1;
}

/* The whole box */
.multiple-results-definition {
    padding: 15px 25px 15px 25px;
}

/* The word, gender and definition */
.multiple-results-definition-header {
    display: flex;
    flex-direction: row;  /* Horizontally aligns the word and definition */
    justify-content: space-between;
    align-items: center;
}

/* The definition */
.multiple-results-definition-text {
    flex: 1;
    font-size: 18px !important;
    margin-left: 20px;  /* Space between the gender/word and definition */
    width: 50%;  /* Definition takes up exactly 60% of the container */
}

.multiple-results-hidden-content {
    display: none;
}

/* The gender */
.multiple-results-gender-class {
    font-size: 14px !important;
}

/* The word and gender */
.multiple-results-word-gender {
    display: flex;
    font-size: 20px !important;
    flex-direction: column;  /* Ensures word and gender are stacked vertically */
    margin: 0 20px 0 0 !important;
    line-height: 1.5 !important;
    width: 50%;  /* The word and gender take up 40% of the container */
    justify-content: center;  /* Vertically center the word and gender within their container */
}

/* Basic styling for the table */
.pronunciation-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 12px;
    text-align: left;
}

.pronunciation-table th, .pronunciation-table td {
    border: 1px solid #dddddd;
    padding: 10px;
}

.pronunciation-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.random-btn {
    align-items: center;
    background-color: #0d3a69;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    height: 42px;
    justify-content: center;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.random-btn:hover {
    background-color: #3c88d4;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
}

.return-btn {
    background-color: #f1f1f1;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 16px;
}

.return-btn:hover {
    background-color: #e1e1e1;
}


.search-bar-wrapper {
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    flex-grow: 1;
    min-width: 300px;
    overflow: hidden;
    position: relative;
}

.search-bar-wrapper,
.type-filter,
.pos-filter,
.cefr-filter {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 42px;
    flex: 1;
}

.search-btn {
    align-items: center;
    background-color: #0d3a69;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
    cursor: pointer;
    display: flex;
    height: 100%;
    width: 100% !important;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #4a99ff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
}

.search-btn i {
    color: white;
    font-size: 16px;
    margin: 0;
}

.sentence-btn {
    display: block;  /* Block-level element to allow centering */
    margin: 0 auto;  /* Centering with smaller vertical margins */
    margin-top: 20px;
    background-color: #f0f0f0;  /* Subtle, lighter background */
    color: #5a1a1a;  /* Subtle maroon text */
    border: 1px solid #5a1a1a;  /* Thin maroon border */
    border-radius: 6px;  /* Slightly rounded corners */
    padding: 6px 12px;  /* Smaller padding for a more compact feel */
    font-family: 'Noto Sans', sans-serif;  /* Clean, modern font */
    font-size: 12px;  /* Smaller font size for subtlety */
    font-weight: 400;  /* Normal font weight for less boldness */
    text-transform: uppercase;  /* Uppercase for consistency */
    letter-spacing: 0.03em;  /* Slight letter spacing */
    cursor: pointer;  /* Pointer on hover */
    transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.2s ease;  /* Subtle transitions */
}

.sentence-btn:hover {
    background-color: #e8e8e8;  /* Slightly darker on hover */
    border-color: #851a1a;  /* Darker maroon on hover */
}

.sentence-btn:active {
    transform: scale(0.98);  /* Pressed effect */
}

/* Show state - makes it more distinguishable when showing */
.sentence-btn.show {
    background-color: #f0f0f0;
    color: #5a1a1a;
    border: 1px solid #5a1a1a;
}

/* Hide state - more distinct background and color change */
.sentence-btn.hide {
    background-color: #d3d3d3;  /* Slightly darker gray when hiding */
    color: #4b0f0f;  /* Darker maroon to distinguish */
    border-color: #4b0f0f;  /* Darker border */
}

.sentence-container {
    max-width: 600px;
    margin: 0 auto; /* Center the container */
    padding: 10px 20px;
}


.random-btn {
    width: 20%; /* Adjust the width of the random button */
}

.result-header h2 {
    color: #951b1b;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.02em;
    white-space: normal;  /* Allow the text to wrap into multiple lines */
    overflow-wrap: break-word;  /* Ensure the text breaks into a new line if needed */
    text-align: center;  /* Center align the header text */
}


#results-container {
    background-color: rgb(244, 244, 244);
    margin: 20px auto;
    text-align: left;
    width: 50%;
}

.search-and-random-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.search-bar-wrapper {
    width: 100%;
}

#search-container {
    background-color: white;
    border-bottom: 1px solid #ccc;
    font-family: 'Noto Sans', sans-serif;
    margin: auto;
    padding: 10px 0;
    position: sticky;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}

#search-container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 850px;
    margin: 0 auto;
}

.selectors-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.spinner {
    color: #293a78;
    display: none;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

.spinner::before {
    animation: spin 0.8s linear infinite;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top-color: #293a78;
    content: "";
    display: inline-block;
    height: 40px;
    margin-bottom: 10px;
    width: 40px;
}

.type-filter, .pos-filter, .random-btn {
    display: inline-flex;
    align-items: center;
    background-color: #0d3a69;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer; /* Ensure the entire button area is clickable */
    font-family: 'Noto Sans', sans-serif;
    padding: 10px 15px;
    position: relative; /* Ensures that the children elements are positioned relative to this container */
    box-sizing: border-box;

}

/* Gray out both the select text and the arrow when disabled */
.cefr-filter.disabled select, .type-filter.disabled select, .pos-filter.disabled select {
    color: #ccc;
    cursor: not-allowed;
}

.cefr-filter.disabled i, .type-filter.disabled i, .pos-filter.disabled i {
    color: #ccc;  /* Gray out the arrow */
    pointer-events: none;  /* Prevent interaction with the arrow */
}

.type-filter i, .pos-filter i {
    color: white;
    font-size: 18px;
    pointer-events: none;
    right: 15px;
    z-index: 0; /* Ensures the icon is underneath the select element */
}

.type-filter select, .pos-filter select, .cefr-filter select {
    appearance: none;
    background-color: inherit;
    border: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    padding-right: 30px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    height: 100%; /* Extend the clickable area vertically */
    }

.word-gender {
    align-items: flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    overflow-wrap: break-word;
    word-break: break-word;
}

.word-gender .gender {
    color: #951b1b;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    overflow-wrap: break-word;
    white-space: normal;

}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1024px) {
    .back-btn {
        width: 100%; /* Make the button take up full width on mobile */
    }

    footer, header {
        width: 100%; /* Ensure both footer and header are the same width */
        padding: 10px 20px; /* Add consistent padding */
        box-sizing: border-box; /* Ensure padding is included in the element's total width */
    }

    footer p {
        font-size: 11px !important;
        margin: 0;
    }

    .game-translation-card {
        font-size: 1.1em !important;         /* Slightly smaller font size for mobile */
    }

    h1 {
        font-size: 10vw !important;
        margin-bottom: 10px;
        margin-top: -5px;
        white-space: nowrap;
    }

    h2 {
        font-size: 7vw;
        hyphens: auto;
        overflow-wrap: break-word;
        white-space: normal;
        word-break: break-word;
    }

    header {
        padding: 10px 15px;
    }

    header p {
        font-size: 3vw !important;
        margin: -10px 0 0px 0 !important;
    }

    input[type="text"] {
        padding: 10px 10px;
    }

    label[for="search-bar"] {
        display: none;
    }

    /* Adjust landing card width for mobile */
    #landing-card {
        width: 80%; /* Ensure it takes up more space on mobile */
        padding: 20px; /* Add more padding for mobile readability */
    }

    /* Adjust landing card heading (h2) for mobile */
    #landing-card h2 {
        font-size: 24px; /* Reduce font size to fit smaller screens */
        line-height: 1.4;
        word-break: keep-all;
    }

    /* Adjust landing card heading (h3) for mobile */
    #landing-card h3 {
        font-size: 14px; /* Reduce font size to fit smaller screens */
    }

    /* Adjust landing card heading (h4) for mobile */
    #landing-card h4 {
        font-size: 12px; /* Reduce font size to fit smaller screens */
    }

    /* Adjust landing card paragraph text for mobile */
    #landing-card p {
        font-size: 12px; /* Reduce paragraph font size */
        line-height: 1.6; /* Increase line height for readability */
        text-align: justify;
        margin: 0 15px 0 15px;
    }

    .linkedin-btn {
        font-size: 12px; /* Slightly smaller font size */
        padding: 0px 10px 0px 10px !important; /* Adjust padding to reduce the button's height */
        border-radius: 4px;
    }

    .linkedin-btn::after {
        content: "Connect"; /* Set the text to 'Connect' on mobile */
    }

    /* Hide the original text */
    .linkedin-btn span {
        display: none;
    }

    .linkedin-icon {
        width: 14px; /* Adjust icon size to match the button */
    }

    .links {
        display: flex;
        justify-content: center;
        margin: 5px 0 5px 0;
        gap: 8px; /* Ensure proper space between buttons */
        padding: 0 20px; /* Add padding to create space between the buttons and the screen edges */
    }

    /* The whole box */
    .multiple-results-definition {
        padding: 15px 20px 15px 20px;
    }

    /* The word, gender and definition */
    .multiple-results-definition-header {
        display: flex;
        flex-direction: row;  /* Horizontally aligns the word and definition */
        justify-content: space-between;
        align-items: center;
    }

    /* The definition */
    .multiple-results-definition-text {
        flex: 1;
        font-size: 14px !important;
        margin-left: 20px;  /* Space between the gender/word and definition */
        hyphens: auto;
        overflow-wrap: break-word;
        white-space: normal;
        word-break: break-word;
    }

    /* The gender */
    .multiple-results-gender-class {
        font-size: 12px !important;
    }

    /* The word and gender */
    .multiple-results-word-gender {
        display: flex;
        font-size: 18px !important;
        flex-direction: column;  /* Ensures word and gender are stacked vertically */
        margin: 0 20px 0 0 !important;
        line-height: 1.2 !important;
        justify-content: center;  /* Vertically center the word and gender within their container */
    }

    /* Adjust pronunciation table for mobile */
    .pronunciation-table, .pronunciation-table tbody, .pronunciation-table tr, .pronunciation-table td {
        display: block;
        font-size: 11px; /* Reduce font size for mobile */
    }

    .pronunciation-table tr {
        margin-bottom: 12px;
        border-bottom: 1px solid #dddddd;
    }

    .pronunciation-table td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        text-align: left;
        border-bottom: none;
        font-size: 12px;
    }

    .pronunciation-table td::before {
        content: attr(data-label);
        font-weight: bold;
        flex-basis: 40%; /* Adjusts width for label part */
        text-align: left; /* Ensure labels are left-aligned */
    }

    .pronunciation-table th, .pronunciation-table thead {
        display: none;
    }

    .pronunciation-table td:nth-child(3), .pronunciation-table td:last-child {
        text-align: right; /* Ensures the last column is always right-aligned */
        overflow-wrap: break-word; /* Breaks long words if necessary */
    }

    .random-btn {
        width: 20% !important;
    }

    .search-and-random-wrapper {
        display: flex;
        align-items: center; /* Vertically align items */
        justify-content: space-between;
        gap: 10px;
    }

    .search-bar-wrapper,
    #results-container {
        width: 90%;
    }

    .search-bar-wrapper label {
        font-size: 12px;
    }

    .search-btn {
        padding: 8px;
        width: 20% !important; /* This makes the search button take up full width on mobile */
    }
    
    .search-btn i {
        font-size: 16px;
    }

    #search-container {
        align-items: center;
        flex-direction: column;
    }

    #search-container-inner {
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
        padding: 0 10px 0 10px;
    }

    #search-container-inner.word-game-active {
        gap: 0;
    }

    .sentence-btn {
        width: 100% !important;
    }
    
    .type-filter, .pos-filter, .cefr-filter {
        background-color: #0d3a69;  /* Consistent background for all filters */
        border-radius: 15px;
        padding: 10px 10px;
    }
    

    .type-filter, .pos-filter, .random-btn, .search-bar-wrapper {
        width: 100%;
    }
    
    .type-filter i, .pos-filter i, .cefr-filter i {
        padding-left: 6px;
        font-size: 12px; /* Make the arrow smaller */
        pointer-events: none; /* Ensure the icon doesn't block clicks */
    }

    .type-filter select, .pos-filter select, .cefr-filter select {
        cursor: pointer;
        width: 100%; /* Extend the clickable area horizontally */
        height: 100%; /* Extend the clickable area vertically */    
        font-size: 8px; /* Further reduce the font size for very small screens */
        text-transform: uppercase;
        padding-right: 0px;
    }

    .word-gender {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        hyphens: auto;
        line-height: 1.4;
    }

    .word-gender .gender {
        font-size: 4vw;
        margin-top: 5px;
    }
}