a {
    color: #3c88d4;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    height: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.clear-btn {
    align-items: center;
    background-color: white;
    border: none;
    color: #999;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    padding: 0 15px;
}

.clear-btn:hover {
    background-color: rgb(188, 188, 188);
}

.definition {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 25px;
}

.definition p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}

.definition-label {
    color: #951b1b;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .04rem;
    text-transform: uppercase;
}

.example {
    color: #3c88d4 !important;
    font-size: 18px;
}

footer {
    background-color: #d2dce5;
    bottom: 0;
    color: #0d3a69;
    font-family: 'Noto Sans', sans-serif;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
}

h1 {
    color: #293a78;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

h2 {
    color: #3c88d4;
    font-size: 30px;
    font-weight: bold;
    margin: -5px 0 10px 0;
}

header {
    background-color: #d2dce5;
    color: #0d3a69;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: .05rem;
    padding: 20px;
    position: relative;
    text-align: center;
}

header h1 {
    font-family: 'Grenze Gotisch', serif;
    font-size: 50px;
}

header p {
    font-size: 18px;
    font-weight: 600;
    margin-top: -20px;
    text-transform: uppercase;
}

html {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

input[type="text"] {
    border: none;
    flex-grow: 1;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    outline: none;
    padding: 12px 16px;
}

input[type="text"]:focus + label,
input[type="text"]:not(:placeholder-shown) + label {
    color: #293a78;
    font-size: 12px;
    top: -10px;
}

.kjønn {
    color: #951b1b !important;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px !important;
    font-weight: 500;
    letter-spacing: .04rem;
    text-transform: uppercase;
}

label {
    color: #555;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

main {
    flex: 1;
}

.random-btn {
    background-color: #0d3a69;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    margin-left: 10px;
    padding: 12px 20px;
    transition: all 0.3s ease;
}

.random-btn:hover {
    background-color: #3c88d4;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
}

.search-bar-wrapper {
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    overflow: hidden;
    position: relative;
    width: 50%;
}

.search-btn {
    background-color: #0d3a69;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.search-btn:hover {
    background-color: #4a99ff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    transform: scale(1.01);
}

#results-container {
    background-color: rgb(244, 244, 244);
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    width: 50%;
}

#search-container {
    background-color: white;
    border-bottom: 1px solid #ccc;
    font-family: 'Noto Sans', sans-serif;
    margin: auto;
    padding: 10px 0;
    position: sticky;
    text-align: center;
    top: 0;
    z-index: 100;
}

@media (max-width: 768px) {
    .random-btn {
        width: 90%; /* Full width */
        margin: 10px 0 10px 0;
    }

    .search-bar-wrapper, #results-container {
        margin: 10px 0 10px 0;
        width: 90%;
    }

    .search-bar-wrapper label {
        font-size: 12px;
    }

    footer {
        font-size: 12px; /* Reduce font size on smaller screens */
        text-align: center; /* Keep text centered */
    }

    footer p {
        margin: 0; /* Remove any margin to prevent overflow */
    }

    h1 {
        font-size: 10vw !important;
        margin-bottom: 10px;
        margin-top: -5px;
        white-space: nowrap;
    }

    header {
        padding: 10px 15px;
    }

    header p {
        font-size: 3vw !important;
        margin: -10px 0 0px 0 !important;
    }

    input[type="text"] {
        padding: 10px 10px;
    }
}
